name: Auto Merge Dependabot
on:
  pull_request:
    types:
      - opened
    branches:
      - "main"

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    name: "Auto Merge Dependabot PR"
    runs-on: ubuntu-24.04
    if: github.actor == 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Enable Pull Request Automerge
        run: gh pr merge --squash --auto "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
      - name: Auto approve
        run: gh pr review --approve "${{ github.event.pull_request.number }}"
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
